<section class="custom-bg">
  <section>
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container custom-center">
        <h1 class="display-4">Welcome to SatisPhile!</h1>
        <p class="lead">A place where you can set, follow and fulfill your desires.</p>
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <button *ngIf="!togLogged && !dashboard" type="button" class="btn btn-outline-dark" (click)="toggleLogin()">Login</button>
          <button *ngIf="togLogged || dashboard" type="button" class="btn btn-outline-dark" (click)="logout()">Logout</button>
          <button type="button" class="btn btn-outline-dark" routerLink="/contact">Contact</button>
          <button *ngIf="!togLogged" type="button" class="btn btn-outline-dark" (click)="toggleSignUp()">Sign Up</button>
        </div>
        <br>
        <!-- LOGIN -->
        <div *ngIf="togLogin && !dashboard">
          <div class="row">
            <div class="col-lg-4 col-sm-4"></div>
            <div class="col-lg-4 col-sm-4">
              <h5>LOGIN</h5>
            </div>
            <div class="col-lg-4 col-sm-4"></div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-2"></div>
            <div class="col-lg-4 col-sm-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" id="btnGroupAddon">@</div>
                </div>
                <input type="text" class="form-control" placeholder="E-mail" name="mail" aria-label="Input group example" aria-describedby="btnGroupAddon"
                  [(ngModel)]="user.username">
              </div>
            </div>
            <div class="col-lg-4 col-sm-2"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-4 col-sm-2"></div>
            <div class="col-lg-4 col-sm-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" id="btnGroupAddon">
                    <i class="fas fa-key"></i>
                  </div>
                </div>
                <input type="password" class="form-control" placeholder="password" name="pass" aria-label="Input group example" aria-describedby="btnGroupAddon"
                  [(ngModel)]="user.password">
              </div>
            </div>
            <div class="col-lg-4 col-sm-2"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-4 col-sm-2"></div>
            <div class="col-lg-4 col-sm-8">
              <input type="button" class="btn btn-block btn-outline-dark" value="Login" (click)="login()">
            </div>
            <div class="col-lg-4 col-sm-2"></div>
          </div>
        </div>
        <!-- GO TO DASHBOARD -->
        <div *ngIf="dashboard">
          <div class="row">
            <div class="col-lg-4 col-sm-2"></div>
            <div class="col-lg-4 col-sm-8">
              <input type="button" class="btn btn-lg btn-outline-dark" value="Go To Your Dashboard" routerLink="dashboard" routerLinkActive="active">
            </div>
            <div class="col-lg-4 col-sm-2"></div>
          </div>
        </div>
        <!-- REGISTRATION -->
        <div *ngIf="signUp">
          <div class="row">
            <div class="col-lg-4 col-sm-4"></div>
            <div class="col-lg-4 col-sm-4">
              <h5>SIGN UP</h5>
            </div>
            <div class="col-lg-4 col-sm-4"></div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-2"></div>
            <div class="col-lg-4 col-sm-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" id="btnGroupAddon4">
                    <i class="fas fa-user"></i>
                  </div>
                </div>
                <input type="username" class="form-control" placeholder="Username" name="username" aria-label="Input group example" aria-describedby="btnGroupAddon4"
                  [(ngModel)]="userReg.username">
              </div>
            </div>
            <div class="col-lg-4 col-sm-2"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-4 col-sm-2"></div>
            <div class="col-lg-4 col-sm-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" id="btnGroupAddon3">@</div>
                </div>
                <input type="email" class="form-control" placeholder="E-mail" name="mail" aria-label="Input group example" aria-describedby="btnGroupAddon3"
                  [(ngModel)]="userReg.email">
              </div>
            </div>
            <div class="col-lg-4 col-sm-2"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-4 col-sm-2"></div>
            <div class="col-lg-4 col-sm-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" id="btnGroupAddon1">
                    <i class="fas fa-key"></i>
                  </div>
                </div>
                <input type="password" class="form-control" placeholder="password" name="passReg" aria-label="Input group example" aria-describedby="btnGroupAddon1"
                  [(ngModel)]="userReg.password">
              </div>
            </div>
            <div class="col-lg-4 col-sm-2"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-4 col-sm-2"></div>
            <div class="col-lg-4 col-sm-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" id="btnGroupAddon2">
                    <i class="fas fa-key"></i>
                  </div>
                </div>
                <input type="password" class="form-control" placeholder="password" name="passRegConf" aria-label="Input group example" aria-describedby="btnGroupAddon2"
                  [(ngModel)]="userRegPassConf">
              </div>
            </div>
            <div class="col-lg-4 col-sm-2"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-4 col-sm-2"></div>
            <div class="col-lg-4 col-sm-8">
              <input type="button" class="btn btn-block btn-outline-dark" value="Sign Up" (click)="validation()">
            </div>
            <div class="col-lg-4 col-sm-2"></div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </section>
</section>
