<section>
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container custom-center">
      <h1 class="display-1">SatisPhile</h1>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-dark" (click)="showAbout()">About</button>
          <button type="button" class="btn btn-outline-dark" routerLink="../home">Home</button>
          <button type="button" class="btn btn-outline-dark" (click)="showContact()">Contact</button>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<section class="text-center" *ngIf="about">
  <div class="fun-bg custom-bg d-flex align-items-center">
    <div class="container">
      <div class="row custom-row">
        <div class="col-6  d-flex align-items-center">
          <i class="fas fa-gamepad"></i>
          <h1 class="display-2">Fun</h1>
        </div>
        <div class="col-6">
          <google-chart [data]="pieChartData"></google-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="work-bg custom-bg d-flex align-items-center">
    <div class="container">
      <div class="row custom-row">
        <div class="col-6  d-flex align-items-center">
          <i class="fas fa-briefcase"></i>
          <h1 class="display-2">Work</h1>
        </div>
        <div class="col-6">
          <google-chart [data]="pieChartData2"></google-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="food-bg custom-bg d-flex align-items-center">
    <div class="container">
      <div class="row custom-row">
        <div class="col-6  d-flex align-items-center">
          <i class="fas fa-utensils"></i>
          <h1 class="display-2">Food</h1>
        </div>
        <div class="col-6">
          <google-chart [data]="pieChartData3"></google-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="sleep-bg custom-bg d-flex align-items-center">
    <div class="container">
      <div class="row custom-row">
        <div class="col-6  d-flex align-items-center">
          <i class="fas fa-moon"></i>
          <h1 class="display-2">Sleep</h1>
        </div>
        <div class="col-6">
          <google-chart [data]="pieChartData4"></google-chart>
        </div>
      </div>
    </div>
  </div>
</section>
