.col-6 {
  padding-right: 0;
}

.custom-bg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.food-bg {
  background-image: url("../../assets/food-1.jpg");
}

.fun-bg {
  background-image: url("../../assets/fun-1.jpg");
}

.work-bg {
  background-image: url("../../assets/work-1.jpg");
}

.sleep-bg {
  background-image: url("../../assets/sleep-1.jpg");
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0);
}

h1 {
  color: whitesmoke;
}

i {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100%;
  color: rgb(255, 255, 255);
  font-size: 4rem;
  padding: 5%;
}

.custom-row {
  background-color: rgba(0, 0, 0, .329);
}

@media only screen and (max-width: 836px) {
  i {
    display: none;
  }
}
